[ 
     { 
         "keyfob": "12w4a56", 
         "lastname": "Doe", 
         "club": "3226", 
         "times": { 
             "2":"6:30", 
             "4":"6:30", 
             "6":"8:00", 
              "7":"9:00" 
          } 
     }
]

